body {
padding-top: 50px;
}
.footer{padding-bottom:50px;}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.row span{
	font-size:15px;
	font-weight:bold;
}
.row{ padding-top:15px;}
.panel-body{ height:100px;}
.loader{display:none;}

#dailykcal,#kcal{font-size:25px; font-weight:bold;color:red;}
#tab_comment{ padding-top:20px;font-size:16px; font-weight:bold}
.tab-content {
	height:350px;
	color : black;
	padding : 5px 15px;
	border-width:0px  1px 1px 1px;
	border-color:#eff0f1;
	border-style: solid;
}
.tab-content li{padding:5px;list-style:none; }
.resultpanel .kcal{font-size:25px; font-weight:bold;color:red;}
#havefood li{padding:5px;list-style:none;cursor:pointer;}
.foodimage{ cursor: pointer; }
.roundborder{
	border-style: solid;
	border-width: 1px;
  border-radius:15px;
	padding:15px;
	border-color: #dfdfdf;
}